{% extends 'admins/layout.html' %}

{% block title %}
  <title>Admin Dashboard</title>
{% endblock  %}

{% block main_content %}
<div class="container-fluid">
  <h2 class="text-center my-3 text-muted">Admin Dashboard</h2>
  <div class="row d-flex">
    <div class="col-md-6 col-xl-4 py-3">
      <a href="" class="text-decoration-none">
        <div class="card shadow-lg border-0">
          <div class="card-body">
            <div class="text-center text-primary fw-bold fs-4 text-uppercase">
              <span>Total Order</span>
            </div>

            <div class="text-center text-muted fw-bold">
              <span>Delivered: 0</span>
            </div>

            <div class="text-center text-success">
              <i class="fab fa-first-order-alt fs-3 fa-spin"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-xl-4 py-3">
      <a href="" class="text-decoration-none">
        <div class="card shadow-lg border-0">
          <div class="card-body bg-warning">
            <div class="text-center text-white fw-bold fs-4 text-uppercase">
              <span>Total Users</span>
            </div>

            <div class="text-center text-white fw-bold">
              <span>Delivered: 0</span>
            </div>

            <div class="text-center text-white">
              <i class="fas fa-users fs-3"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-xl-4 py-3">
      <a href="" class="text-decoration-none">
        <div class="card shadow-lg border-0">
          <div class="card-body bg-dark">
            <div class="text-center text-white fw-bold fs-4 text-uppercase">
              <span>Total Products</span>
            </div>

            <div class="text-center text-white fw-bold">
              <span>Delivered: 0</span>
            </div>

            <div class="text-center text-white">
              <i class="fab fa-product-hunt fs-3"></i>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-xl-4 py-3">
      <a href="" class="text-decoration-none">
        <div class="card shadow-lg border-0">
          <div class="card-body">
            <div class="text-center text-primary fw-bold fs-4 text-uppercase">
              <span>Total Order</span>
            </div>

            <div class="text-center text-muted fw-bold">
              <span>Delivered: 0</span>
            </div>

            <div class="text-center text-success">
              <i class="fab fa-first-order-alt fs-3 fa-spin"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-xl-4 py-3">
      <a href="" class="text-decoration-none">
        <div class="card shadow-lg border-0">
          <div class="card-body bg-warning">
            <div class="text-center text-white fw-bold fs-4 text-uppercase">
              <span>Total Users</span>
            </div>

            <div class="text-center text-white fw-bold">
              <span>Delivered: 0</span>
            </div>

            <div class="text-center text-white">
              <i class="fas fa-users fs-3"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-xl-4 py-3">
      <a href="" class="text-decoration-none">
        <div class="card shadow-lg border-0">
          <div class="card-body bg-dark">
            <div class="text-center text-white fw-bold fs-4 text-uppercase">
              <span>Total Products</span>
            </div>

            <div class="text-center text-white fw-bold">
              <span>Delivered: 0</span>
            </div>

            <div class="text-center text-white">
              <i class="fab fa-product-hunt fs-3"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
  
{% endblock  %}
