{% extends 'admins/layout.html' %}
{% load crispy_forms_tags %}
{% comment %} {% load bootstrap %} {% endcomment %}
{% load static %}

{% block title %}
<title> Delete </title>
{% endblock %}

{% block main_content %}

<style>
    .tour{
        background: url("https://media4.giphy.com/media/3oKIPxjZBLeNR9RM76/giphy.webp?cid=790b7611pt2av6zvyptxuli05yqrosm26fexrvaoetqn7idl&ep=v1_gifs_search&rid=giphy.webp&ct=g");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: hsla(0, 0%, 0%, 0.7);
        background-blend-mode: overlay;
        display: grid;
        place-items: center;
        min-height: 600px;
        text-align: center;
        padding-top: 125px;
        color: white;
    }
</style>

<div class="tour">
<h1>Confirm Delete</h1>
<p>Are you sure you want to delete "{{ destination.name }}"?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'destination_detail' destination.pk %}" class="btn btn-secondary">Cancel</a>
</form>
</div>
{% endblock %}